img {
  width: 100%;
}

.navbar-index {
  padding-right: 20px;
}

.navbar-default {
  padding-top: 10px;
  border-color: white;
}

.navbar-header a {
  font-size: 15px;
  font-style:italic;
}

.jumbotron h1 {
  font-size: 65px;
  font-family: 'Helvetica';
  text-shadow: 2px 2px #b3d9ff;
}

.jumbotron {}
