<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-index">{{#link-to 'index'}}Index{{/link-to}}</a>
        <a class="navbar-admin">{{#link-to 'admin'}}Admin Portal{{/link-to}}</a>
    </div>
  </div>
</nav>

<h3>Edit/delete stories</h3>

<h3>Add Stories</h3>
{{new-story save2="save3"}}
